<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flutter to Web Conversion</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div class="container">
    <div class="content">
      <h1 class="heading">
        <span class="git">Git</span><span class="speak">Speak</span>
      </h1>
      <p class="subheading">Your Journey, Your Code, Your Voice</p>
      <div class="button-container">
        <!-- Login button -->
         <form action="{{ url_for('login_password') }} " method="get">
            <button type="submit" class="login-button">Login with GitHub</button>
         </form>
         <!-- Get Started button -->
         <form action="{{ url_for('login_github') }} " method="get">
            <button type="submit" class="get-started-button">Get Started with GitHub</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
