<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_password.css') }}">
</head>
<body>
  <div class="container">
    <div class="login-form">

      <div class="tab-container">
        <div class="tab active">Sign Up</div>
      </div> 
      <p>Complete your registration by creating a strong password</p>

      <form method="POST">
        <div class="form-content">
            <div class="form-field">
                <input type="password" id="password" name="new_password" placeholder="Password">
              </div>
            <div class="form-field">
              <!-- <label for="password">Password</label> -->
              <input type="password" id="confirmpassword" name="confirm_password" placeholder="Confirm Password">
            </div>
        
              <button type="submit" class="login-button">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  
</body>
</html>