<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet"
    />
  <link href="https://fonts.googleapis.com/css2?family=Google+Fonts:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  <script defer src="app.js"></script>
</head>
<body>
  <div class="scaffold" id="scaffold">
    <div class="container">
      <div class="top-bar">
        <div class="icon-container">
          <i class="icon-person"></i>
        </div>
        <div class="icon-container">
          <i class="icon-signout"></i>
        </div>
      </div>
      <div class="content">
        <div class="header">
          <h2>Welcome Berthran</h2>
        </div>
        <div class="description">
          <p>What kind of post would you like to create today?</p>
        </div>
      
        <!-- Buttons Section -->
        <div class="buttons">
          <a href="/normal_post/select_repo">
            <button class="normal-post-button">Normal Post</button>
          </a>
          <button class="challenge-post-button">Challenge Post</button>
        </div>
      </div>

      <div class="posts-section">
        <h2 class="section-title">Posts</h2>
        <div class="button-group">
          <button class="post-button all-posts">All</button>
          <button class="post-button normal-post">Normal</button>
          <button class="challenge-button">Challenge</button>
        </div>
      </div>
      
      <div class="container">
        {% for post in posts %}
        <div class="http-requests-section">
          <h3 class="section-title">{{ post.title}}</h3>
          <p class="description">{{ post.linkedin_post }}</p>
          <div class="social-icons">
            <!-- Clicking on the Linkedin Icon should show the linkedin post -->
            <a href="#" onclick="showPost('{{ post.linkedin_post }}', 'LinkedIn')" aria-label="LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>

            <!-- Clicking on the Twitter Icon should show the twitter post -->
            <a href="#" onclick="showPost('{{ post.twitter_post }}', 'Twitter')" aria-label="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
</body>
</html>
