<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Google+Fonts:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  <script defer src="app.js"></script>
</head>
<body>
  <div class="scaffold" id="scaffold">
    <div class="container">
      <div class="top-bar">
        <div class="icon-container">
          <i class="icon-person"></i>
        </div>
        <div class="icon-container">
          <i class="icon-signout"></i>
        </div>
      </div>
      <div class="content">
        <div class="header">
          <h2>Welcome Berthran</h2>
        </div>
        <div class="description">
          <p>What kind of post would you like to create today?</p>
        </div>
      
        <!-- Buttons Section -->
        <div class="buttons">
          <button class="normal-post-button">Normal Post</button>
          <button class="challenge-post-button">Challenge Post</button>
        </div>
      </div>

      <div class="posts-section">
        <h2 class="section-title">Posts</h2>
        <div class="button-group">
          <button class="post-button all-posts">All</button>
          <button class="post-button normal-post">Normal</button>
          <button class="challenge-button">Challenge</button>
        </div>
      </div>
      
      <div class="container">
        <div class="http-requests-section">
          <h3 class="section-title">HTTP Requests</h3>
          <p class="description">
            Explored the Flask Request object, understanding how to access and handle incoming HTTP requests (methods, headers, data, cookies, etc.) within Flask applications.
          </p>
          <div class="social-icons">
            <a href="https://www.linkedin.com" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      
        <div class="container-inner">
          <h3 class="section-title">Day 1: 100DaysOfCode</h3>
          <p class="task-title">HTTP Requests</p>
        </div>
      </div>

      
      
      
    </div>
  </div>
</body>
</html>
