<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Status</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skills.css') }}">
</head>
<body>
    <div class="container">
        <h1>What best describes your job status?</h1>
	<form method="POST">
        <button type="submit" name="job_status" value="Unemployed">Unemployed</button>
        <button type="submit" name="job_status" value="Seriously looking for job">Seriously Looking for job</button>
		<button type="submit" name="job_status" value="Intern">Intern</button>
		<button type="submit" name="job_status" value="Remote work">Remote work</button>
		<button type="submit" name="job_status" value="Freelancer">Freelancer</button>
        <button type="submit" name="job_status" value="Hybrid">Hybrid</button>
        <button type="submit" name="job_status" value="Fulltime employment">Fulltime employment</button>
        <button type="submit" name="job_status" value="Startup Founder">Startup Founder</button>
	</form>
    </div>
</body>
</html>
