<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preview Post</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='preview_post.css') }}">
</head>
<body>
  <div class="navbar">
    <a href="/normal_post/post_details" class="back-button">←</a>
  </div>
  <form method="POST" action="/normal_post/preview_post">
    <div class="container">
      <div class="button-group">
        <button class="toggle-button" id="linkedin-button" type="button">LinkedIn</button>
      </div>
      <textarea id="linkedinpost-body" name="linkedinPost" class="post-textarea" rows="10">{{ linkedin_post }}</textarea>
      <div class="button-group">
        <button class="toggle-button twitter-button" id="x-button" type="button">X</button>
      </div>
      <textarea id="twitterpost-body" name="twitterPost" class="post-textarea" rows="5">{{ twitter_post }}</textarea>
      
      <button type="submit" class="submit-button">Create Post</button>
    </div>
    </form>
</body>
</html>