<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Selection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skills.css') }}">
</head>
<body>
    <div class="container">
        <h1>What best describes your skill level?</h1>
        <form method="POST">
            <button type="submit" name="skill_level" value="Learner">Beginnner</button>
            <button type="submit" name="skill_level" value="Junior Developer">Junior Level</button>
            <button type="submit" name="skill_level" value="Senior Developer">Senior Level</button>
            <button type="submit" name="skill_level" value="Technical Lead">Expert</button>
        </form>
    </div>
</body>
</html>
