<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Selection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skills.css') }}">
</head>
<body>
    <div class="container">
        <h1>What best describes your technical skill (current or in view)?</h1>
	<form method="POST">
		<button type="submit" name="skill" value="Frontend Engineer">Frontend Engineer</button>
		<button type="submit" name="skill" value="Backend Engineer">Backend Engineer</button>
		<button type="submit" name="skill" value="Fullstack Engineer">Fullstack Engineer</button>
        <button type="submit" name="skill" value="Cybersecurity">Cybersecurity</button>
        <button type="submit" name="skill" value="Data Analyst">Data Analyst</button>
        <button type="submit" name="skill" value="Cloud Engineer">Cloud Engineer</button>
        <button type="submit" name="skill" value="DevRel">DevRel</button>
        <button type="submit" name="skill" value="Machine Learning Engineer">Machine Learning</button>
	</form>
    </div>
</body>
</html>
