body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  gap: 10px;
  
  span:first-child {
    color: #ffcc00;
  }
}

.subheading {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 32px;
  color: #333;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-button,
.get-started-button {
  background-color: #ffcc00;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.get-started-button {
  background-color: #333;
}
